spring:
  application:
    name: user-health-bff
  profiles:
    active: prod
  datasource:
    url: jdbc:postgresql://app-db:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  sql:
    init:
      mode: always

server:
  port: 8080

# JWT Configuration
jwt:
  public:
    key: classpath:app.pub
  private:
    key: classpath:app.key

# Actuator & Monitoring
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# Logging
logging:
  pattern:
    level: "%5p [${spring.application.name:}]"
  level:
    root: INFO
    com.fiap.user.health.bff: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
